################################################################################
#                                                                              #
#   {instance name}_stoppost - post-stop actions for virtctl                   #
#                                                                              #
#   https://github.com/dehesselle/virtctl                                      #
#                                                                              #
################################################################################

#
# If present, this file gets sourced after the VM has been
# stopped. Use it to run any post-stop actions that you require.
#
# (Forwarded ports get taken care of automatically.)
#

