[Unit]
Description=KVM101 data volume

[Mount]
What=/dev/disk/by-uuid/(insert uuid here)
Where=/srv/nfs/101
Type=btrfs
Options=subvol=kvm/101_data
DirectoryMode=755
