[Unit]
Description=KVM101 OS volume

[Mount]
What=/dev/disk/by-uuid/(insert uuid here)
Where=/srv/kvm/101
Type=btrfs
Options=subvol=kvm/101
DirectoryMode=755
