############################################
#                                          #
#   Service: vm                            #
#                                          #
#   https://github.com/dehesselle/vmmctl   #
#                                          #
############################################
#
# This is an instantiable service to start and stop virtual machines
# using the helper-script 'vmmctl'.
#
[Unit]
Description=Virtual Machine %i
Requires=libvirt-guests.service virtlogd.socket
After=libvirt-guests.service virtlogd.socket

[Service]
Type=forking
PIDFile=/run/libvirt/qemu/%i.pid
ExecStart=/usr/local/sbin/vmmctl start %i
ExecStartPost=/usr/local/sbin/vmmctl start_post %i
ExecStop=/usr/local/sbin/vmmctl stop %i
ExecStopPost=/usr/local/sbin/vmmctl stop_post %i
Restart=on-success
SuccessExitStatus=1

[Install]
WantedBy=hypervisor.target

